<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Mediscreen-Edit_Patient</title>
</head>
<body>
    <section class="container">
        <h5 class="modal-title pt-4" id="Log-off">Nouveau Patient</h5>
        <form class="pb-5" th:action="@{/patient/validate_new}" method="post">
            <div class="row">
                <div class="col row">
                    <label for="given" class="control-label">Prénom</label>
                    <input type="text" id="given" placeholder="Prénom">
                </div>
                <div class="col-1"></div>
                <div class="col row">
                    <label for="family" class="control-label">Nom</label>
                    <input type="text" id="family" placeholder="Nom">
                </div>
            </div>
            <div class="row my-4">
                <div class="col row">
                    <label for="genre" class="control-label">Genre</label>
                    <select class="form-select" aria-label="Default select example" id="genre">
                        <option selected>Choix</option>
                        <option value="1">Homme</option>
                        <option value="2">Femme</option>
                    </select>
                </div>
                <div class="col-1"></div>
                <div class="col row">
                    <label for="birthday" class="control-label">Date de naissance</label>
                    <input type="date" id="birthday" placeholder="Date de naissance">
                </div>
                    <div class="row my-4">
                        <label for="address" class="col control-label">Adresse</label>
                        <input type="text" id="address" placeholder="Adresse">
                    </div>
                    <div class="row my-4">
                        <label for="phone" class="col control-label">Téléphone</label>
                        <input type="tel" id="phone" placeholder="Téléphone">
                    </div>
                <div class="row my-4">
                    <a class="col-6"></a>
                    <input type="submit" class="col btn btn-sm btn-outline-success" value="Valider">
                    <a role="button" th:href="@{/}" href="research.html" class="col btn btn-sm btn-outline-warning mx-2">Annuler</a>
                </div>
            </div>
        </form>
    </section>
</body>
</html>
